html, body, #sapper {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	color: inherit;
	text-decoration: inherit;
}

